body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006400;
    color: white;
    padding: 1rem 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
    position: relative; 
}

nav a {
    color: white;
    text-decoration: none;
}

index {
    display: flex;
    flex-direction: column;
}

section About-Us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.link {
    color: grey;
    text-decoration: none;
}

.link:hover {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
border: solid;
border-color: green;

}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #006400;;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color:#006400;;
}


footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;


}.text {
display: flex;
    padding: 20px;
    background-color: #f5f8ef;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
}


.text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.text p {
    font-size: 1rem;
    margin-bottom: 10px;
}