body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-container a,
footer a {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: 300;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo .wildlife {
    color: orange;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    color: yellow;
    pointer-events: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.link {
    color: grey;
    text-decoration: none;
}

.link:hover {
    color: orange;
}

ul li:hover {
    color: yellow;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: yellow;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}

section.hero {
    background: url('images/lions.jpg') center/cover no-repeat;
   background-size: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


section.group-tickets h1,
section.group-tickets p,
section.terms h2 {
    color: black;
    font-family: 'Playfair Display', serif;
}

section.hero h1,
section.hero p {
    color: white;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}


section.group-tickets p {
    font-size: 20px;
}

section.group-tickets {
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}

.text {
    flex-basis: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: grey;
}

.text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.text p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.block {
    display: flex;
justify-content: space-evenly;
    height: 100vh;
}

.staff-section {
    text-align: center;
    margin: 2rem 0;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.staff-member {
    width: 22%;
    margin: 1rem 0;
    text-align: center;
}

.staff-member img {
    width: 100%;
    height: auto;
    -webkit-clip-path: circle(150px at 50% 50%);
}

.styled-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    box-shadow: 0 4px #999;
    transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
    background-color: #45a049; 
    transform: translateY(-2px);
}

.styled-button:active {
    background-color: #3e8e41; 
    box-shadow: 0 2px #666;
    transform: translateY(2px); 
}

.values-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: #006400;
    color: white;
    flex-direction: row;
    align-items: center;
}

.value {
    width: 30%;
    text-align: center;
}

.value img {
    width: 50px;
    height: 50px;
}


section.visit-us {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}


.visit-us p {
    font-family: 'Playfair Display', serif;
}


@media (max-width: 768px) {
    .block {
        flex-direction: column;
        height: auto; 
    }

    .visit-us,
    .text {
        flex-basis: 100%;
        text-align: center;
    }

    .values-section {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .value,
    .staff-member {
        width: 90%; 
        margin: 1rem auto; 
    }


    .styled-button {
        width: 100%; 
        padding: 12px; 
        font-size: 14px; 
    }

    /* Подгонка текста в секции .text */
    .text h1 {
        font-size: 1.5rem; 
    }

    .text p {
        font-size: 0.9rem; 
    }

    section.hero h1 {
        font-size: 50px; 
    }

    section.hero p {
        font-size: 30px; 
    }
}

