body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006400;
    color: white;
    padding: 1rem 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-container a,
footer a {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: 300;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo .wildlife {
    color: orange;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

section.terms, section.group-tickets, section.hero, section.about-us {
   display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
}

section.hero h1, section.hero p, section.group-tickets h1, section.group-tickets p, section.terms h2, section.terms h1, section.terms p {
    color: black;
    font-family: 'Playfair Display', serif;
}

section.hero h1, section.group-tickets h1 {
    font-size: 80px;
}

section.hero p, section.group-tickets p {
    font-size: 30px;
}

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

ul li:hover {
    font-size: 20px;
}

section.terms h2 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.link {
    color: grey;
    text-decoration: none;
}

.link:hover {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid;
    border-color: green;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #006400;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #006400;
}

.text {
    display: flex;
    padding: 20px;
    background-color: #f5f8ef;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
}

.text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.text p {
    font-size: 1rem;
    margin-bottom: 10px;
}