body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006400;
    color: white;
    padding: 1rem 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-container a {
    font-weight: 300; 
    font-style: normal; 
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 5px;
    text-decoration: none; 
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo a {
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 5px;
}

.logo .wildlife {
    color: orange;
}

.logo .zoo {
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    color: yellow;
    pointer-events: none;
}

main {
    display: flex;
    flex-direction: column;
}

.link {
    color: grey;
    text-decoration: none;
}

.link:hover {
    color: orange;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: yellow;
}

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 1rem;
}

footer a {
    color: white;
    text-decoration: none;
}

section.group-tickets {
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}

section.visit-us {
    flex-basis: 50%; /* Задайте ширину 50% для visit-us */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Измените на center, чтобы выровнять текст по центру */
}

.text {
    flex-basis: 50%; /* Задайте ширину 50% для текста */
    margin: 1rem; /* Установите отступы вокруг текста */
}

/* Новый класс для блока */
.block {
    display: flex;
    flex-direction: row; /* Установите направление на строку */
    justify-content: space-between; /* Разделите пространство между элементами */
}

/* Добавьте медиа-запрос для обеспечения адаптивности */
@media (max-width: 768px) {
    .block {
        flex-direction: column; /* Сложите элементы в столбик на узких экранах */
    }

    .visit-us,
    .text {
        flex-basis: 100%; /* Задайте ширину 100% на узких экранах */
    }
}

.values-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #006400;
    color: white;
}

.value {
    width: 30%;
    margin: 1rem 0;
    text-align: center;
}

.value img {
    width: 50px;
    height: 50px;
}

.staff-section {
    text-align: center;
    margin: 2rem 0;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.staff-member {
    width: 22%;
    margin: 1rem 0;
    text-align: center;
}

.staff-member img {
    width: 100%;
    height: auto;
}